.form {
  @include reset-style;
}

.form__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 280px 298px;
    gap: 70px;
  }
}

.form__block {
  border: none;
  @include reset-style;
}

.form__block--short {
  display: flex;
  flex-direction: column;
}

.form__legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: $black-color;
  @include reset-style;
}

.form__list {
  @include reset-list;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 16px 32px;
  }
}

.form__textarea {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  background-color: $grey-color;
  color: rgba(0, 0, 0, 0.3);
  border: none;
  padding: 16px;
}

.form__button {
  display: block;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: $white-color;
  background-color: $blue-color;
  border: none;
  padding: 16px 49px;
  margin: 0;
}

.form__text {
  display: block;
  text-align: end;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.6);
  padding: 0;
}

.area__input {
  width: 100%;
}
