.introduction {
  padding: 0;
  margin: 0;
}

.introduction__header {
  display: flex;
  flex-direction: column;
  width: calc(100% - 36px);
  margin: 0 18px 16px;

  @media (min-width: $tablet-width) {
    width: calc(100% - 248px);
    margin: 0 124px 55.5px;
  }

  @media (min-width: $desktop-width) {
    width: 484px;
    margin: 0 auto 44px;
  }
}

.introduction__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: $black-color;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 35px;
}

.introduction__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $light-black-color;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}
