.map {
  min-height: 350px;
  background-image: url("/img/map@1x.png");
  background-position: center;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("/img/map@2x.png");
  }

  &--margin-bottom {
    margin-bottom: 10px;
  }
}
