.offers {
  @include reset-list;

  position: relative;
}

.offers__inner-list {
  @include reset-list;

  padding: 0 18px;
  background-color: $light-grey-color;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
  }
}
