.offers {
  list-style: none;
  padding: 0;
  margin: 0;
}

.offers__inner-list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width:$tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
