.standart-cart__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: $black-color;
  text-align: center;
  margin: 0;
  margin-bottom: 11px;
}

.standart-cart-number {
  display: block;
  color: $light-black-color;
  text-align: center;
  margin: 0;
  margin-bottom: 17px;
}

.standart-cart__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: $light-black-color;
  text-align: center;
  margin: 0;
}

.standart-cart__text--white-color {
  color: $white-color;
}
