.introduction {
  padding: 0;
  margin: 0;
}

.introduction__header {
  display: flex;
  flex-direction: column;

  padding-left: 18px;
  padding-right: 18px;
}

.introduction__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 35px;
}

.introduction__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}
